@{
    Layout = null;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/mycss.css">
</head>

<body>
<div class="first-item">FIRST-ITEM</div>
<div class="second-item">SECOND-ITEM</div>
</body>